{
  "comments": false, // 不产生注释
  "env": {
    "web": {
      "presets": [
        "@babel/preset-react",
        [
          "@babel/preset-env",
          {
            "modules": false
          }
        ],
        "@babel/preset-typescript"
      ],
      "plugins":[]
    }
  },
  "plugins": [
    "@babel/transform-runtime",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
