.loginBox {
  width: 100%;
  height: 100%;
  background: #f7f7f7;
  .FormBox {
    width: 500px;
    position: absolute;
    left: 50%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
  }
}
