/** 
* 这里的文件不需要引入，全局webpack引入了，这里是放全局变量的地方
*/

/** 主题色 */
$primary-color: #0092ff;

/** 白色 */
$white: #fff;
/** @description: 辅助色-状态色 */
/** 提示 */
$tip-color: #00cbff;
/** 警示 */
$pro-color: #ff9800;
/** 成功 */
$suc-color: #46db7a;
/** 警告 */
$warn-color: #f74742;

/** @description: 辅助色-背景色 */
/** 背景色 */
$bg-color: #f5f6fa;
/** 区域背景色 */
$bg-area-color: #F2FAFF;
/** 区域色 */
$area-color: #fff;
/** 区域色 */
$border-color: #eff1f6;

/** @description: 辅助色-文字色 */
/** 文字 */
$text-color: rgba(0, 0, 0, 0.85);
/** 常规文字 */
$text-secondary-color: rgba(0, 0, 0, 0.65);
/** 次要文字 */
$text-third-color: rgba(0, 0, 0, 0.45);

/** @description: 基准像素 */
/** 版心宽度 */
$base-width: 1200px;
/** 外边距 */
$base-margin: 16px;
/** 下边距 */
$bottom-margin: 16px;
/** 内边距 */
$base-padding: 16px;
/** 左右内边距 */
$padding: 32px;